<header class="o-header">
    <figure class="o-logo_field">
        <img class="o-logo" ui="header" src="./assets/multimedia/images/client/logo-color.png" alt=""/>
    </figure>
    <nav class="c-nav" ui='header'>
        <a class="c-link" ui='header' routerLink="/" routerLinkActive="active">login</a>
        <a class="c-link" ui='header' routerLink="/home" routerLinkActive="active">home</a>
        <a class="c-link" ui='header' routerLink="/viewer" routerLinkActive="active">Viewer</a>
    </nav>
</header>
