<main class="o-main">
    <div class="o-wrap">
        <section class="c-gallery">
            <a class="c-link" routerLink="/viewer" *ngFor="let pdf of pdfs" (click)="setStorage(pdf.hash)">
                <article class="c-gallery_item c-card">
                    <figure class="c-card_image">
                        <img class="o-logo" ui="gallery" src="./assets/multimedia/pdf/{{pdf.hash}}/{{pdf.hash}}.png" alt=""/>
                    </figure>
                    <div class="c-card_content">
                        <div class="c-card_title"> {{pdf.name | excerpt}} </div>
                    </div>
                </article>
            </a>
        </section>
    </div>
</main>
