<section class="o-main_section">
    <div class="cont-form">
        <div class="form ingreso">
            <div class="logo"><img src="./assets/multimedia/images/client/logo-white.png" alt=""/></div>
            <div class="loginButtons">
            <form id="viewerlogin">
                <input type="text" placeholder="Email" ng-model="user.email"/>
                <input type="password" placeholder="Clave" ng-model="user.password"/>
                <input class="loginButton ingreso loginButton ingreso" type="submit" name="login" value="INGRESO" ng-click="Login(email,pass)"/>
            </form>
            </div>
        </div>
    </div>
</section>
