<section class="o-main_section">
    <div class="cont-form">
        <div class="form ingreso">
            <div class="logo"><img src="./assets/multimedia/images/client/logo-white.png" alt=""/></div>
            <div class="loginButtons">
                <form  #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
                    <input name="username" type="text"     placeholder="Email"    [(ngModel)]="user.username"/>
                    <input name="password" type="password" placeholder="Password" [(ngModel)]="user.password">
                    <input class="loginButton ingreso" type="submit" name="login" value="INGRESO"/>
                </form>
            </div>
        </div>
    </div>
</section>
